body {
    padding: 40px;
    background: whitesmoke;
    text-align: center;
     margin: 0;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    height: 100vh;
    color: #e98a1d;
}

.box{
    border: 2px solid #e98a1d;
    border-top: none;
    border-radius: 10px;
    height: 50px;
    margin: 10px 0;
}

button{
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: green;
    border: none;
    font-family: 'Permanent Marker', cursive;
    }
    
button:hover{
    box-shadow: 2px 2px 8px 4px #888888;
}
#basket1{
    color: black;
}